@define-color bg #0d1118;
@define-color fg #e8eef1;
@define-color gray1 #6ec96e;
@define-color gray2 #4a7191;
@define-color gray3 #3b3ba0;
@define-color gray4 #cece78;
@define-color gray5 #24e5ff;
@define-color fg_bright #e8eef1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}