:root {
--color00: #0d1118;
--color01: #0d1118;
--color02: #0d1118;
--color03: #05a3b1;
--color04: #e8eef1;
--color05: #e8eef1;
--color06: #e8eef1;
--color07: #e8eef1;
--color08: #c66161;
--color09: #cece78;
--color0A: #e7e7bb;
--color0B: #6ec96e;
--color0C: #69c9c9;
--color0D: #3b3ba0;
--color0E: #24e5ff;
--color0F: #882e2e;
}
